/* Add a background color to the header element */
header {
    background-color: pink;
}
/* Add a fun background color to the main element */
main {
    background-color: yellow;
}
/* Align the h1 containing your name in the center of the header*/
header {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    color: red;
    font-style: italic;
}
/* Put a border around your image */
img {
    border: 10px solid;
    border-color: green;
}
/* Change the font-family of your list */
.list {
    font-family: 'Courier New', Courier, monospace;
}
/* Add a background color to the footer element */
footer{
    background-color: gray;
}